<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des étudiants</title>
</head>
<body>
    <h1>Liste des étudiants</h1>
    <table style="border: 1px solid black; border-collapse: collapse;">
        <tr style="border: black solid 1px;">
            <th>ID</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Examen</th>
            <th>Action</th>
        </tr>
        <% students.forEach(student => { %>
            <tr  style="border: black solid 1px;">
                <td><%= student.id %></td>
                <td><%= student.first_name %></td>
                <td><%= student.last_name %></td>
                <td><%= student.final_exam %></td>*u
                <td>
                    <a href="/edit/<%= student.id %>">Modifier</a>
                    <a href="/delete/<%= student.id %>">Supprimer</a>
                </td>
            </tr>
        <% }); %>
    </table>

    <a href="/add">Ajouter un étudiant</a>
</body>
</html>
